* {
    margin: 0;
    padding: 0;
    font-family: lato;
}

.about_body {
    background-color: rgba(250, 250, 250, 0.267);
    background-image: linear-gradient(rgba(231, 226, 226, 0.726), rgba(247, 241, 241, 0.993)), url(../img/aboutus_pic4.jpg);
    color: black;
}

.about_header {
    background-image: url(../img/aboutus_pic1.jpg);
    width: 100%;
    position: absolute;
    top: 10%;
    height: 400px;
}

.about_header h4 {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
}

.middle-content {
    float: left;
    margin-top: 500px;
}

.content {
    height: 250px;
    width: 90%;
    margin: 30px;
    margin-top: 0px;
    padding: 20px;
    border-top: 1px solid;
    font-family: lato;
}

.content p {
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
}

.content h3 {
    color: rgb(14, 14, 104);
    font-size: 20px;
    padding: 10px;
    margin-left: 40px;
    margin-top: 30px;
    text-align: left;
}

.h4 {
    color: black;
    font-size: 40px;
    padding: 0;
    margin: 40px;
    text-align: left;
    position: absolute;
    left: 10%;
}

.ques {
    width: 80%;
    padding: 0 5px;
    border: 2px solid blue;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.icon {
    margin: 0 10px 0 0;
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    float: left;
    transition: all .5s ease-in;
}

.contactus {
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0, 0.5);
    float: left;
    padding: 0;
    font-family: lato;
}

.contactus h4 {
    font-size: larger;
    font-weight: bold;
}

.contactus td {
    height: 40px;
}

.contact_form {
    margin-left: 30px;
    width: 950px;
}

.contact_form.label {
    font-size: 50px;
}

.info {
    width: 300px;
    margin: 30px;
    border-left: 3px solid black;
}

.contact_form h5,
h4 {
    font-size: medium;
    font-family: lato;
    margin-bottom: 10px;
}

.contact_form h3 {
    margin-bottom: 20px;
}

.contact-icon i {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(9, 36, 85);
    margin-left: 20px;
    padding: 20px;
    color: white;
}

.contact_form input {
    width: 650px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.contact_form button {
    transform: translateY(0px);
    transition: 0.3s linear;
    background: #2f375b;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #eee;
    margin-top: 0px;
    font-family: lato;
    transition: transform 0.3s;
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    margin-top: 10px;
}

.contact_form button:hover {
    transform: translateY(-4px);
}

.text-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

.aboutend {
    float: left;
}