body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.admin_dashboard_box {
    margin: 150px auto 10px auto;
    display: -webkit-box;
    /*create box with auto hight */
    width: 1220px;
    margin-left: 100px;
    height: auto;
    padding: 30px;
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    margin-top: 120px;
}

.admin_dashboard_box button {
    font-size: 16px;
    color: white;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    background-color: #2f375b;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: none;
}

.admin_dashboard_box button:hover {
    font-size: 18px;
}

.admin_dashboard_box .text_box {
    float: left;
    outline: none;
    width: 1150px;
    margin-left: -120px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid lightgray;
    background-color: #8FBC8F;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    position: center;
}

.admin_dashboard_box .text_box label {
    margin-left: 490px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #2E8B57;
}

.admin_dashboard_box textarea {
    font-size: 16px;
    margin-top: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    width: 98%;
    resize: vertical;
    height: 500px;
    background-color: #DCDCDC;
    padding: 10px;
}


/*moderaotor dashboard css*/

.moderator_dashboard_box {
    margin: 20px auto 100px auto;
    display: -webkit-box;
    /*create box with auto hight */
    width: 1220px;
    margin-left: 100px;
    height: auto;
    padding: 30px;
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}


/* The popup form of send notifications- hidden by default */

.form-popup {
    display: none;
    position: fixed;
    top: 80%;
    left: 50%;
    z-index: 100000;
    transform: translate(-50%, -50%);
}

.form-container {
    opacity: initial;
    margin: -350px auto 20px auto;
    width: 500px;
    padding: 50px;
    background: #F0F8FF;
    box-sizing: border-box;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    border-radius: 15px;
}

.input_radio {
    margin-top: 10px;
    margin-left: -20px;
    font-size: 20px;
    color: lightgrey;
}

.radio {
    display: block;
}

.form-container label {
    font-size: 16px;
    color: black;
}

.form-container input {
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #DCDCDC;
    width: 100%;
    padding: 10px;
    /* margin: 5px 0 22px 0; */
}

.form-container textarea {
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
    background-color: #DCDCDC;
    padding: 10px;
    margin: 5px 0 22px 0;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.8;
    float: left;
}

.form-container .cancel {
    background-color: red;
    float: right;
}

.form-container .btn:hover {
    opacity: 1;
    border: none;
    outline: none;
}

.notification {
    margin-left: -900px;
    margin-top: 130px;
}

.form-container p.error {
    position: relative;
    background-color: #92a8d1;
    outline: none;
    color: red;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    margin: 5px;
}


/* //sidebar css */

.side_bar {
    background-color: #2f375b;
    width: 40px;
    position: fixed;
    z-index: 1;
    overflow: auto;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.5s;
    overflow: hidden;
}

.side_bar:hover {
    width: 23.6%;
}

.dashlogo {
    float: left;
    margin-left: 30px;
}

.side_bar .profile {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 50%;
    border: 3px solid blue;
    width: 100px;
    height: 100px;
}

.edit {
    float: left;
    margin-left: 60px;
    margin-top: 20px;
    border: 0;
    background-color: unset;
    width: 200px;
    height: 50px;
    color: white;
    font-family: lato;
    font-size: 20px;
    margin-bottom: 20px;
    outline: none;
}

.edit:hover {
    background-color: rgb(79, 76, 90);
    cursor: pointer;
    border-radius: 5px;
    padding: 0;
}

.edit:span {
    padding: 20px;
    margin-top: 50px;
    color: white;
}

.buttons {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.button {
    float: left;
    margin-top: 20px;
    background-color: unset;
    border: 0;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
}

.button:hover {
    background-color: rgb(79, 76, 90);
}

.sidebar-menu ul {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100% !important;
}

.sidebar-menu ul li {
    position: relative;
    width: 100%;
    list-style: none;
    height: 40px;
    font-family: lato;
    padding-top: 3px;
    padding-bottom: 3px !important;
}

.sidebar-menu ul li:hover {
    background-color: rgb(79, 76, 90);
    width: 100%;
}

.sidebar-menu ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.sidebar-menu ul li a .menu-icon {
    position: relative;
    display: block;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 50px;
}

.sidebar-menu ul li a .menu-icon .fa {
    font-size: 20px;
}

.sidebar-menu ul li a .menu-title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-align: start !important;
}

.side_bar input[type=submit] {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: white !important;
}

.cobutton {
    transform: translateY(0px);
    transition: 0.3s linear;
    background: #2f375b;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    margin-top: 0px;
    font-family: lato;
    transition: transform 0.3s;
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    margin: 5;
}

.cobutton:hover {
    transform: translateY(-4px);
}

.all {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}