body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    box-sizing: border-box;
    width: 100%;
    margin-top: 80px;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.calendar {
    box-sizing: border-box;
    width: 70rem;
    height: 32rem;
    float: center;
    background: rgba(0, 0, 0, .7);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
}

.month {
    width: 70rem;
    height: 7rem;
    background-color: #2e004d;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 0.06rem;
}

.month h1 {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.month i {
    margin: 20px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.month i:hover {
    background-color: #023d8a;
    border-radius: 45px;
}

.month p {
    font-size: 16px;
}

.weekdays {
    background-color: #490c72;
    color: #fff;
    padding: 7px 0;
    display: flex;
}

.days {
    font-size: 20px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
}

.weekdays div,
.days div {
    text-align: center;
    width: 13.78%;
}

.days div {
    padding: 3px 0;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev_date,
.next_date {
    color: #999;
}

.today {
    background-color: #21112c;
    color: #fff;
    border: 1px solid white;
}

.today:hover {
    font-weight: bold;
    cursor: pointer;
}

.prev,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.days div:hover:not(.today):not(.prev_date):not(.next_date) {
    cursor: pointer;
    background-color: #905cb3;
    border: 1px solid lightgray;
}


/* menu bar css*/

.travel_calendar {
    text-decoration: underline;
    color: white;
}