body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.complains_box {
    margin: 140px auto 10px auto;
    display: -webkit-box;
    /*create box with auto hight */
    width: 1220px;
    margin-left: 100px;
    height: 100%;
    padding: 30px;
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.text_box_search_bar {
    top: 35%;
    left: 5%;
    width: 600px;
}

.text_box_search_bar input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

input[type="text"] {
    background-color: lightgray;
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 20px;
    border-radius: 20px 0 0 20px;
}

input[type="submit"] {
    background-color: #008B8B;
    left: -5px;
    color: #fff;
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 0 20px 20px 0 !important;
}

input[type="submit"]:hover {
    background-color: #6495ED;
}

.search_bar button {
    background-color: #008B8B;
    float: right;
    color: #fff;
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 20px;
    margin: -28px 10px 0 10px !important;
}

.search_bar button:hover {
    background-color: #5F9EA0;
    font-weight: bold;
}

.text_box h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
    color: black;
}

.text_box p {
    padding: 6px;
}

.text_box {
    height: auto;
    display: block;
    font-size: 16px;
    color: black;
    outline: none;
    margin-top: 20px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    padding: 10px 10px 40px 10px;
    border-radius: 15px;
    position: center !important;
}

.text_box button {
    margin-top: 10px;
    margin-bottom: auto;
    float: right;
    font-size: 16px;
    color: white;
    padding: 10px;
    background-color: #2f375b;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: none !important;
}

.text_box button:hover {
    background-color: #3d4777;
    ;
}


/*sidebar css*/

.side_bar {
    background-color: #2f375b;
    width: 40px;
    position: fixed;
    z-index: 1;
    overflow: auto;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.5s;
    overflow: hidden !important;
}

.side_bar:hover {
    width: 23.6%;
}

.dashlogo {
    float: left;
    margin-left: 40px;
}

.side_bar .profile {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 50%;
    border: 3px solid blue;
    width: 100px;
    height: 100px;
}

.edit {
    float: left;
    margin-left: 60px;
    margin-top: 20px;
    border: 0;
    background-color: unset;
    width: 200px;
    height: 50px;
    color: white;
    font-family: lato;
    font-size: 20px;
    margin-bottom: 20px;
    outline: none;
}

.edit:hover {
    background-color: rgb(79, 76, 90);
}

.buttons {
    float: left;
    width: 100%;
    margin-top: 30px !important;
}

.button {
    float: left;
    margin-top: 20px;
    border: 0;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center !important;
}

.button:hover {
    background-color: rgb(79, 76, 90) !important;
}

.sidebar-menu ul {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100% !important;
}

.sidebar-menu ul li {
    position: relative;
    width: 100%;
    list-style: none;
    height: 50px;
    margin-bottom: 5px !important;
}

.sidebar-menu ul li:hover {
    background-color: rgb(79, 76, 90);
    width: 100% !important;
}

.sidebar-menu ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white !important;
}

.sidebar-menu ul li a .menu-icon {
    position: relative;
    display: block;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 50px !important;
}

.sidebar-menu ul li a .menu-icon .fa {
    font-size: 20px;
}

.sidebar-menu ul li a .menu-title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-align: start !important;
}


/* The popup form of report admin- hidden by default */

.form-popup {
    display: none;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
}

.form-container {
    margin: -200px auto 20px auto;
    width: 500px;
    padding: 50px;
    background: #F0F8FF;
    box-sizing: border-box;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    border-radius: 15px;
}

.form-container label {
    font-size: 18px;
    color: black;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.8;
    float: center;
}

.form-container .btn:hover {
    opacity: 1;
    border: none;
    outline: none;
}


/*view more page css*/

.full_complain_view_box {
    margin: 150px auto 40px auto;
    margin-left: 300px;
    display: -webkit-box;
    width: 800px;
    padding: 40px;
    background: #C0C0C0;
    box-sizing: border-box;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.full_complain_view_box .text_box {
    height: auto;
    display: block;
    font-size: 16px;
    color: black;
    outline: none;
    margin-top: 20px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    padding: 10px 10px 40px 10px;
    border-radius: 15px;
    position: center !important;
}

.full_complain_view_box .text_box h1 {
    font-size: 22px;
    text-decoration: underline;
    margin-bottom: 10px;
    color: black;
    text-align: center;
}

.full_complain_view_box .text_box h3 {
    font-size: 18px;
    margin-bottom: 3px;
    color: rgb(23, 18, 36);
    text-align: left;
}

.full_complain_view_box .text_box p {
    margin-bottom: 10px;
}

.full_complain_view_box .msg,
.report,
.alreadyreport {
    background-color: #111d52;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
    float: left;
}

.full_complain_view_box .report {
    float: right;
    background-color: rgb(151, 0, 0);
}

.full_complain_view_box .alreadyreport {
    cursor: none;
    opacity: 0.3;
    float: right;
    background-color: rgb(151, 0, 0);
}

.full_complain_view_box .msg:hover {
    opacity: 1;
    margin-top: 10px;
    background-color: #445496;
}

.full_complain_view_box .report:hover {
    opacity: 1;
    margin-top: 10px;
    background-color: #7e1717;
}

.all {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}


/* Tooltip container */

.tooltip {
    margin-top: 10px;
    margin-left: 130px;
    position: relative;
    display: inline-block;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(3, 21, 41);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 10%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}


/* Tooltip arrow */

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(3, 21, 41) transparent transparent transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip i {
    color: rgb(10, 10, 22);
    margin: 2px;
}

.tooltip button {
    background-color: rgb(67, 72, 100);
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 100%;
}