/*forget password css*/

body {
    margin: 0;
    padding: 0;
    font-family: lato;
}

.forgot_box {
    margin: 200px auto 150px auto;
    /*margin-left: 500px;*/
    /*transform: translate(-50%,-50%);*/
    width: 500px;
    padding: 50px 50px 80px 50px;
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.text_box label {
    left: 0;
    top: 0;
    bottom: 10px;
    padding: 10px 0;
    color: #03a9f4;
    font-size: 22px;
    pointer-events: none;
    transition: .5s;
}

.text_box input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    padding: 5px 0;
    font-size: 18px;
    border-bottom: 2px solid lightgray;
}

.forgot_box p {
    margin-top: 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
}

.forgot_box a {
    float: left;
    padding: 20px 20px;
    text-decoration: none;
    color: #03a9f4;
    font-size: 16px;
    transition: .3s;
}

.forgot_box a:hover,
a:active {
    color: white;
    font-size: 18px;
}

.forgot_box p.error {
    padding: 5px 25px 5px 25px;
    background-color: #92a8d1;
    outline: none;
    margin: 10px;
    color: rgb(66, 8, 8);
    border-radius: 10px;
    font-size: 18px;
}

.forgot_box h1 {
    font-weight: bold;
    padding: 13px 0;
    margin: 0 0 20px;
    font-size: 38px;
    pointer-events: none;
    text-align: center;
    color: whitesmoke;
    font-family: lato;
}

.forgot_box button,
.password_message_box button {
    background: transparent;
    border: none;
    outline: none;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: #03a9f4;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.forgot_box button:hover {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.password_message_box button:hover {
    color: white;
    font-weight: bold;
    font-size: 18px;
}


/*password message css*/

.password_message_box,
.expire_email_box {
    margin: 230px auto 200px auto;
    width: 500px;
    padding: 40px;
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    padding: 50px 50px 70px 50px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.password_message_box a,
.expire_email_box a {
    float: left;
    padding: 20px 20px;
    text-decoration: none;
    color: #03a9f4;
    font-size: 16px;
    transition: .3s;
    transition-duration: 0.5s;
}

.password_message_boxa:hover,
a:active {
    color: skyblue;
    font-size: 18px;
    transition-duration: 0.5s;
}

.expire_email_box a:hover,
a:active {
    color: skyblue;
    font-size: 18px;
    filter: brightness(200%);
}


/*main menu bar css*/

.container .login {
    background-color: #360d46;
}