.packages {
    float: left;
    margin-left: -300px;
    margin-top: 20px;
}

.calendar {
    margin-right: -50px;
    margin-top: 100px;
}

.pkgcontrol {
    margin-top: 20px;
    margin-left: 210px;
}