body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}


.side_bar {
    background-color: #2f375b;
    width: 40px;
    position: fixed;
    z-index: 1;
    overflow: auto;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.5s;
    overflow: hidden;
}

.side_bar:hover {
    width: 23.6%;
}

.dashlogo {
    float: left;
    margin-left: 30px;
}

.side_bar .profile {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 50%;
    border: 3px solid blue;
    width: 100px;
    height: 100px;
}

.edit {
    float: left;
    margin-left: 60px;
    margin-top: 20px;
    border: 0;
    background-color: unset;
    width: 200px;
    height: 50px;
    color: white;
    font-family: lato;
    font-size: 20px;
    margin-bottom: 20px;
    outline: none;
}

.edit:hover {
    background-color: rgb(79, 76, 90);
    cursor: pointer;
    border-radius: 5px;
    padding: 0;
}

.edit:span {
    padding: 20px;
    margin-top: 50px;
    color: white;
}

.buttons {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.button {
    float: left;
    margin-top: 20px;
    background-color: unset;
    border: 0;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
}

.button:hover {
    background-color: rgb(79, 76, 90);
}

.sidebar-menu ul {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
}

.sidebar-menu ul li {
    position: relative;
    width: 100%;
    list-style: none;
    height: 40px;
    font-family: lato;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar-menu ul li:hover {
    background-color: rgb(79, 76, 90);
    width: 100%;
}

.sidebar-menu ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.sidebar-menu ul li a .menu-icon {
    position: relative;
    display: block;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 50px;
}

.sidebar-menu ul li a .menu-icon .fa {
    font-size: 20px;
}

.sidebar-menu ul li a .menu-title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    text-align: start;
}



.post_box {
    margin: 150px auto 10px auto;
    /* display: -webkit-box;
    /*create box with auto hight */
    width: 1000px;
    height: 900px;
    padding: 40px;
    background: rgb(219, 217, 217);
    box-sizing: border-box;
    margin-top: 130px;
    margin-left: 100px;
    margin-bottom: 100px;
    position: relative;
}



.add_request_btn button {
    color: #fff;
    background-color: #2d396e;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 20px 25px 20px 25px;
    cursor: pointer;
    position: fixed;
    margin-left: 1110px;
    margin-top: -1000px;
    font-weight: 600;
}

.add_request_btn button:hover {
    font-weight: bold;
    background-color: #483D8B;
}



.errmsg{
    margin: 5px;
    color: red;
}

/* request post css*/
.myposts{
    display: block;
    max-height: 1000px;
    overflow-x: auto;
    margin-top: 50px;
    width: 950px;
    height: 765px;
}

.myposts ul{
    width: 900px;
    height: auto ;
    margin-top: 15px;
    background-color: rgb(241, 237, 241);
    color: black;
    list-style: none;
    padding-top: 20px;
    display: block;
    padding-bottom: 30px;
}

.myposts ul  li{
    width: 800px;
    height:15px;
    margin-bottom: 20px;
    margin-left: 80px;
    display:inline-flex;
    justify-content: start;
}

/*.myposts ul  li  textarea{
    height: 300px;
}*/

.myposts ul li .fa{
    margin-right: 20px;
}


.myposts ul h5{
    text-align: right;
    margin: 3px;
    padding-right: 10px;
}

.myposts ul h3{
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.myposts ul .bt{
    justify-content: center;
}
.myposts ul li  button {
    height: 45px;
    background-color:  #2f375b;
    width: 120px;
    margin-right: 20px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
}


.myposts ul button:hover{
    background-color:#414c80;
}

.myposts ul button a{
    color: white;
}


/* The popup form of create new request- hidden by default */
.myposts ul  .form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(30%, -55%);
    z-index: 100000;
}



.update-form .btn {
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.8;
    float: left;
}

.update-form .cancel {
    background-color: red;
    float: right;
}

.update-form .btn:hover {
    opacity: 1;
}

/*update button on the post*/
.myposts ul .update{
    color: #fff;
    background-color: #2f375b;
    outline: none;
    border: none;
    cursor: pointer;
}


