* {
    margin: 0;
    padding: 0;
}

.clearfix {
    overflow: auto
}

.con {
    width: 65%;
    height: 100%;
    background: rgb(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding: 1% 5% 3% 5%;
    margin-top: 40px;
    margin-left: 20%;
    margin-bottom: 2%;
    color: black;
    font-size: 20px;
    font-weight: 500;
    float: left;
    font-family: lato;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 0;
}

.col-75 {
    float: right;
    width: 75%;
    margin-top: 3%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

@media screen and (max-width: 1000px) {
    .col-25,
    .col-75 {
        width: 100%;
        margin-top: 0;
    }
}

.lbl {
    padding: 10% 10% 5% 0;
    display: inline-block;
    font-size: 17.5px;
}

.submitCls {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.submitCls .btnbtn {
    /* width: 30%; */
    color: #fff;
    background-color: #2f375b;
    border-color: #007bff;
    padding: 2% 2% 2% 2%;
    text-align: center;
    text-decoration: none;
    border: none;
    display: inline;
    font-size: 17px;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
}

.submitCls .btnbtn:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}