.col-50-left {
    float: left;
    width: 50%;
    margin-top: 0;
}

.col-50-right {
    float: right;
    width: 50%;
    margin-top: 0%;
}

.col-50-right-b {
    float: right;
    width: 50%;
    margin-top: 5%;
}