.tourPackage {
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    height: 300px;
    width: 1050px;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 375px;
    margin-bottom: 20px;
}


/* 	Package details  */

.package-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 10px;
    height: 100%;
    float: right;
    width: 60%;
}


/* 	Package Name */

.tourPackage .package-details h1 {
    font-family: 'Farsan', cursive;
    /* display: inline-block; */
    position: relative;
    font-size: 34px;
    color: #344055;
    margin: 0;
}

.tourPackage .package-details h4 {
    font-family: lato;
    /* display: inline-block; */
    position: relative;
    color: #344055;
    margin: 0;
}


/*Package Rating  */

.hint-star {
    /* display: inline-block; */
    margin-left: 0.5em;
    color: gold;
    width: 50%;
}


/* The most important information about the Package */

.tourPackage .package-details>p {
    font-family: 'Farsan', cursive;
    text-align: center;
    font-size: 15px;
    color: #7d7d7d;
    padding-right: 20px;
}


/* control */

.packagecontrol {
    position: absolute;
    bottom: 15%;
    left: 22.8%;
}


/* the Button */


/* .btn {
    transform: translateY(0px);
    transition: 0.3s linear;
    background: #de4b43;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    margin-top: 0px;
}

.btn:hover {
    transform: translateY(-4px);
}

.btn span {
    font-family: 'Farsan', cursive;
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0;
} */

.package-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: auto;
    float: left;
    width: 35%;
    display: inline-block;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.tourPackage img {
    width: 100%;
    height: 100%;
}

.package-image:hover .info {
    transform: translateX(0);
}

.package-image:hover img {
    transition: all 0.3s ease-out;
}

.package-image:hover img {
    transform: scale(1.1, 1.1);
}