            .sidenav {
                width: 300px;
                position: relative;
                z-index: 1;
                float: left;
                background: #E8B860;
                overflow-x: hidden;
                padding: 8px 0;
                color: black;
                margin-top: 130px;
                margin-left: 10px;
                /* font-family: lato; */
                border-radius: 5px;
            }
            
            .main {
                margin-left: 140px;
                /* Same width as the sidebar + left position in px */
                font-size: 28px;
                /* Increased text to enable scrolling */
                padding: 0px 10px;
            }
            
            @media screen and (max-height: 450px) {
                .sidenav {
                    padding-top: 15px;
                }
                .sidenav a {
                    font-size: 18px;
                }
            }
            
            .checkbox {
                margin-left: 20px;
                margin-top: 10px;
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 17px;
                font-weight: bold;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            /* Hide the browser's default checkbox */
            
            .checkbox input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            /* Create a custom checkbox */
            
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 20px;
                background-color: #eee;
            }
            /* On mouse-over, add a grey background color */
            
            .checkbox:hover input~.checkmark {
                background-color: #ccc;
            }
            /* When the checkbox is checked, add a blue background */
            
            .checkbox input:checked~.checkmark {
                background-color: #2196F3;
            }
            /* Create the checkmark/indicator (hidden when not checked) */
            
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
            /* Show the checkmark when checked */
            
            .checkbox input:checked~.checkmark:after {
                display: block;
            }
            /* Style the checkmark/indicator */
            
            .checkbox .checkmark:after {
                left: 6px;
                top: 4px;
                width: 5px;
                height: 8px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            
            .sortby {
                margin-left: 320px;
                margin-top: 130px;
                width: 1010px;
                height: 80px;
                background: #90A4B1;
                border-radius: 5px;
            }
            
            .sortby button {
                margin-right: 5px;
                background-color: #2f375b;
                /* Green background */
                border: 1px solid green;
                /* Green border */
                color: white;
                /* White text */
                padding: 12px 20px;
                /* Some padding */
                cursor: pointer;
                /* Pointer/hand icon */
                float: left;
                /* Float the buttons side by side */
                font-size: 15px;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 20px;
                border-radius: 5px;
                height: auto;
            }
            
            .sortby button:not(:last-child) {
                border-right: none;
                /* Prevent double borders */
            }
            /* Clear floats (clearfix hack) */
            
            .sortby button:after {
                content: "";
                clear: both;
                display: table;
            }
            /* Add a background color on hover */
            
            .sortby button:hover {
                background-color: rgb(66, 131, 168);
            }
            
            .sortby h2 {
                /* font-family: lato; */
<<<<<<< HEAD
                margin-top: 15px;
                margin-left: 30px;
=======
                float: left;
                margin-top: 15px;
                margin-left: 15px;
>>>>>>> dc51fd1f71d038f3ccf80a739729e4f22138c5b5
                font-weight: 5px;
                font-size: 30px;
                float: left;
                margin-right: px;
            }
            
            .tourGuide {
                box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
                background: rgba(255, 255, 255, 0.90);
                text-align: center;
                border-radius: 5px;
                overflow: hidden;
                height: 300px;
                width: 1000px;
                padding-top: 10px;
                margin-top: 20px;
                margin-left: 330px;
                margin-bottom: 10px;
            }
            /* 	guide details  */
            
            .guide-details {
                position: relative;
                text-align: left;
                overflow: hidden;
                padding: 10px;
                height: 100%;
                float: right;
                width: 60%;
            }
            /* 	guide Name */
            
            .tourGuide .guide-details h1 {
                font-family: 'Farsan', cursive;
                /* display: inline-block; */
                position: relative;
                font-size: 34px;
                color: #344055;
                margin: 0;
            }
            /*guide Rating  */
            
            .hint-star {
                /* display: inline-block; */
                margin-left: 0.5em;
                color: gold;
                width: 50%;
            }
            /* The most important information about the guide */
            
            .tourGuide .guide-details>p {
                font-family: 'Farsan', cursive;
                text-align: center;
                font-size: 15px;
                color: #7d7d7d;
                padding-right: 20px;
            }
            /* control */
            
            .control {
                position: absolute;
                bottom: 20%;
                left: 22.8%;
            }
            /* the Button */
            
            .btn {
                transform: translateY(0px);
                transition: 0.3s linear;
                background: #2f375b;
                border-radius: 5px;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                outline: none;
                border: none;
                color: #eee;
                margin: 0;
            }
            
            .btn:hover {
                transform: translateY(-4px);
            }
            
            .btn span {
                /* font-family: lato; */
                transition: transform 0.3s;
                display: inline-block;
                padding: 10px 20px;
                font-size: 18px;
                margin: 0;
                font-weight: bold;
            }
            
            .guide-image {
                transition: all 0.3s ease-out;
                display: inline-block;
                position: relative;
                overflow: hidden;
                height: auto;
                width: 35%;
                display: inline-block;
                padding-left: 25px;
                padding-top: 8px;
                padding-bottom: 10px;
            }
            
            .tourGuide img {
                width: 100%;
                height: 100%;
            }
            
            .guide-image:hover .info {
                transform: translateX(0);
            }
            
            .guide-image:hover img {
                transition: all 0.3s ease-out;
            }
            
            .guide-image:hover img {
                transform: scale(1.1, 1.1);
            }