* {
    margin: 0;
    padding: 0;
    font-family: lato;
}

.view_admin_profile_box {
    margin: 150px auto 100px auto;
    display: -webkit-box;
    /*create box with auto hight */
    width: 500px;
    height: 100%;
    padding: 50px;
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.view_admin_profile_box h1 {
    font-weight: bold;
    padding: 13px 0;
    margin: 0 20px 22px;
    font-size: 38px;
    pointer-events: none;
    text-align: center;
    color: whitesmoke;
    font-family: lato;
}

.view_admin_profile_box a:hover,
a:active {
    color: white;
    font-size: 18px;
}

.text_box {
    width: 100%;
    overflow: hidden;
    font-size: 24px;
    padding: 8px 0;
    margin: 8px 10px;
    border-bottom: 1px solid lightgray;
}

.text_box label {
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.text_box input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 100%;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.input_radio {
    margin-top: 10px;
    margin-left: 9px;
    font-size: 20px;
    color: black;
}

.reset_psw a {
    padding: 5px 5px;
    text-decoration: none;
    color: #03a9f4;
    font-size: 18px;
    transition: .3s;
}

.reset_psw a:hover {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.reset_psw {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

.reset_email button:hover {
    color: whitesmoke;
}

.reset_email button {
    margin-left: 100px;
    border: none;
    outline: none;
    padding: 10px 10px;
    background: rgba(0, 0, 0, .6);
    margin-top: 20px;
    color: #03a9f4;
    font-size: 18px;
    transition: .3s;
    border-radius: 10px;
}

.view_admin_profile_box p.error {
    position: relative;
    background-color: #92a8d1;
    outline: none;
    color: red;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    margin: 5px;
}

.second .submit {
    float: right;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 40px 5px 0 0;
    background: #03a9f4;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.second .cancel {
    border: none;
    outline: none;
    float: left;
    margin: 40px 30px 10px 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: #03a9f4;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    color: rgb(213, 213, 218);
    background-color: #043e58;
}


/* The popup form of edit email- hidden by default */

.form-popup {
    margin: 110px auto 30px 400px;
    display: -webkit-box;
    /*create box with auto hight */
    width: 500px;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;
}

.form-container {
    margin: 60px auto 20px auto;
    width: 500px;
    padding: 50px;
    background: #F0F8FF;
    box-sizing: border-box;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    border-radius: 15px;
}

.form-container label {
    font-size: 18px;
    color: black;
}

.form-container input {
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #DCDCDC;
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.8;
    float: right;
}

.form-container .cancel_form {
    background-color: red;
    float: left;
}

.form-container .btn:hover {
    opacity: 1;
}

.form-container p.error {
    position: relative;
    background-color: #92a8d1;
    outline: none;
    color: red;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    margin: 5px;
}


/* upload image css */

.upload {
    color: black;
    font-size: 18px;
    margin-left: 960px;
    margin-top: -960px;
    /* margin: 50px auto 100px auto; */
    display: -webkit-box;
    /*create box with auto hight */
    width: 400px;
    height: 100%;
    padding: 30px;
    background: #ccf2ff;
    box-sizing: border-box;
    border-radius: 10px;
}

.imgupload {
    display: flex;
}

.upload .submit {
    outline: none;
    margin-right: 0;
    width: 50%;
    padding: 5px;
    float: left;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.6s;
    background-color: rgb(106, 127, 165);
    color: rgb(251, 249, 252);
}

.upload .reset {
    float: right;
    outline: none;
    padding: 5px;
    width: 50%;
    margin-right: 0;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.6s;
    background-color: rgb(9, 31, 70);
    color: rgb(251, 249, 252);
}


/* .upload .image_btn {
    width: 100%;
} */

.upload input[type=file] {
    outline: none;
    width: 70%;
    padding: 5px;
    font-size: 16px;
    margin: 15px;
    margin-left: 35px;
    border-radius: 10px;
    background-color: rgb(51, 81, 133);
    color: rgb(251, 249, 252);
    transition-duration: 0.6s;
}

.upload label {
    padding: 10px;
    margin-top: 10px;
    margin-left: 70px;
    font-weight: bold;
}

.upload input:hover {
    cursor: pointer;
    background-color: rgb(74, 89, 117);
}