
*{
	margin: 0;
	padding: 0;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
.view_admin_profile_box{
	margin:150px auto 100px auto;
	display: -webkit-box;/*create box with auto hight */
	width: 500px;
	height: 100%;
	padding: 50px;
	background: rgba(0,0,0,.6);
	box-sizing: border-box;
	box-shadow: 0 5px 25px rgba(0,0,0,.5);
	border-radius: 10px;
}
.view_admin_profile_box h1{
    font-weight: bold;
	padding: 13px 0;
	margin: 0 20px 22px;
	font-size: 38px;
	pointer-events: none;
	text-align: center;
	color:cadetblue;
}
.view_admin_profile_box a:hover,a:active{
	color: white; font-size:18px;
}
.text_box{
  width: 100%;
  overflow: hidden;
  font-size: 24px;
  padding: 8px 0;
  margin: 8px 10px;
  border-bottom: 1px solid  lightgray;
}
.text_box label{
	float: left;
	font-size: 20px;
	font-weight: bold;
	color: black;
}
.text_box input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 100%;
  float: left;
  margin-left: 10px;
  margin-top:10px;
}
.input_radio{
	margin-top: 10px;
	margin-left: 9px;
	font-size: 20px;
	color: black;

}

.reset_psw a{
	padding: 10px 10px;
	text-decoration: none;
	color: #03a9f4;
	font-size: 18px;
	transition: .3s;	
}
.reset_psw a:hover{
	color: black;
	font-weight: bold;
	font-size: 20px;
}
.reset_psw{
	margin-top: 10px;
	margin-left: 90px;
}

.view_admin_profile_box p.error{
	position: relative;
	background-color:#92a8d1; 
	outline: none;
	color: red;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	font-size: 18px;
	margin: 5px;
}
.submit{
	float: right;
	background: transparent;
	border: none;
	outline: none;
	margin-top: 15px;
	margin-right: 5px;
	padding: 10px 20px;
	font-size: 16px;
	background: #03a9f4;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	transition: .5s;
}
.cancel{
	float: left;
	background: transparent;
	border: none;
	outline: none;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 10px 20px;
	font-size: 16px;
	background: #03a9f4;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	transition: .5s;
}
button:hover{color: white; font-weight: bold;font-size: 17px;}





